.app-footer {
  background: #111827;
  color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  border-top: 1px solid #374151;
}

.footer-section {
  text-align: center;
  margin: 0 auto;
}

.community-section {
  display: flex; /* Changed to flex to control width of links */
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
  border-bottom: 1px solid #374151;
}
.community-cta {
  display: none;
}
.community-link a {
  color: #e5e7eb;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  border: 2px solid #3b82f6;
  border-radius: 50%;
}
.community-link a:hover {
  color: #3b82f6;
}
.pulse-animation {
  animation: pulse 2s infinite;
}

.contact-section {
  padding: 1.5rem;
  border-bottom: 1px solid #374151;
}
.contact-cta {
  text-align: center;
  font-style: italic;;
  margin-bottom: 0.5rem;
}
.contact-cta span {
  display: block;
  font-weight: bold;
  font-style: italic;
}

.magic-text { /* Initial state */
  text-decoration: none; /* No underline */
  font-size: 1rem; /* Maintain the base font size */
  transition: text-decoration 0.3s ease, font-size 0.3s ease; /* Smooth transitions */
}
.contact-section:hover .magic-text { /* Style on hover of contact-section */
  text-decoration: underline; /* Add underline on hover */
  font-size: 2rem;
  font-weight: bolder;
  color: #eab308;
}
.contact-btn {
  background: #3b82f6;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.contact-btn:hover {
  background-color: #345293;
}

.bottom-section {
  margin: 1rem;
}
.copyright-line {
  text-align: center;
  color: #9ca3af;
}
.author-line {
  margin-top: 0.4rem;
}

@media (min-width: 768px) {
  .community-cta {
    display: block;
    text-align: center; /* Center the heading above the icons */
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }

  .contact-section {
    display: flex; /* Use flexbox for side-by-side layout */
    justify-content: center ; /* Put space between text and button */
    align-items: center; /* Vertically align text and button */
    gap: 2rem;
  }
  .contact-cta {
    font-size: 1.25rem;
  }
  .contact-cta span {
    font-size: 1.25rem;
  }
  .contact-btn {
    display: inline-block;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) { /* Desktops */
  .community-cta {
    font-size: 1.5rem;
  }
  .contact-cta {
    font-size: 1.5rem;
  }
  .contact-cta span {
    display: inline;
    font-size: 1.5rem;
  }
  .contact-btn {
    font-size: 1.25rem;
  }
}

@media (min-width: 1280px) { /* Larger desktops */
  .community-cta {
    font-size: 1.75rem;
  }
  .contact-cta {
    font-size: 1.75rem;
  }
  .contact-cta span {
    display: inline;
    font-size: 1.75rem;
  }
  .contact-btn {
    font-size: 1.5rem;
  }
}